html, body {
	font-family: 'Courier New', monospace;
}

header {
	background-color: #272744;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}

main {
	padding: 20px;
	font-size: 25px;
	background-color: white;
}

footer {
	background-color: #494d7e;
	padding: 10px;
	text-align: center;
	color: white;
}

 /* unvisited link */
a:link {
  color: #494d7e;
}

/* visited link */
a:visited {
  color: #8b6d9c;
}

/* mouse over link */
a:hover {
  color: #c69fa5;
}

/* selected link */
a:active {
  color: #494d7e;
} 